%div{:class => "row", :id => 'controls'}
  %div{:class => "eight columns"}
    %div{:class => "row"}
      %ul{:class => "eight columns"}
        %li{:class => "append field"}
          %form{:name => "authorize-node", :id => "authorize-node", :action => "/authorize", :method => "post"}
            %input{:class => "search input", :placeholder => "Node to add", :name => "node"}
            %span{:class => "metro normal adjoined primary btn", :name => 'authorize-submit', :id => 'authorize-submit'} add

  %div{:class => "eight columns", :id => 'view-results'}

