%div{:class => "row"}
  %div{:class => "eight columns"}
    %ul{:class => "eight columns"}
      %li{:class => "append field"}
        %form{:name => "inventory-node", :id => "inventory-node", :action => "/inventory", :method => "post"}
          %input{:class => "xxwide search input", :placeholder => "node to inventory", :name => "node"}
          %span{:class => "metro normal adjoined primary btn", :id => 'inventory-submit'} details

  %div{:class => "eight columns", :id => "view-results"}
