
%div{:class => "row"}
  %div{:class => "eight columns"}
    %h3="#{@node_run.responsesfrom.size} nodes with #{@node_run.failcount} failures in #{"%.2f" % (@node_run.totaltime * 1000)}ms"
%div{:class => "row"}
  %div{:class => "eight columns"}
    Responding nodes
    - @node_run.responsesfrom.each do |node|
      %li{:class => "light label"}= node
