%html
  %style
    pre {background-color: #efefec;margin-top: 0px; margin-bottom: 0px;}
    div.code {margin-top: -10px; margin-bottom: -10px;}
  %h1 Configuration file
  Additional options should be added for
  %li whitelist type - CouchBase or autosign.conf
  %li mcollective configuration under one key